html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #2F4858;
}

.hometext {
  font-size: 40px;
  color: #F6AE2D;
  font-family: "Sarabun";
}

.cassidyguitar {
  width: 750px;
}

.pagecontent {
  display: flex;
  justify-content: center;
}

#lyricbtn {
  transition: 0.2s;
}

#lyricbtn:hover {
  color: #F26419;
}

#lyricbtn2 {
  transition: 0.2s;
}

#lyricbtn2:hover {
  color: #F26419;
}


.column1 {
  width: 50%;
  padding: 20px;
}

.column2 {
  width: 30%;
  padding: 20px;
}

.column3 {
  width: 20%;
  padding-right: 20px;
}

.about {
  margin: 20px;
}

.thisisme {
  width: 250px;
}

.brainstorm {
  width: 350px;
  border: 5px #F6AE2D solid;
  transition: 0.2s;
}

.brainstorm:hover {
  border: 5px #F26419 solid;
}

.left {
  width: 75%;
  padding: 20px;
}

.right {
  width: 25%;
  padding: 20px;
}

.aboutbutton,
.response1button,
.response2button,
.response3button {
  color: #2F4858;
  font-size: 40px;
  padding: 20px;
  margin: 30px;
  margin-top: 0px;
  margin-left: 0px;
  font-family: "Sarabun";
  background-color: #f7c25e;
  transition: 0.2s;
  box-shadow: 7px 7px 0px #F26419;
  width: 500px;
}

.backhome, .backhome2, .backhome3 {
  color: #2F4858;
  font-family: "Sarabun";
  font-size: 25px;
  background-color: #f7c25e;
  transition: 0.2s;
  padding: 10px;
  width: 70px;
  text-align: center;
   box-shadow: 7px 7px 0px #F26419;
}

.aboutbutton:hover {
  background-color: #F26419;
}

.response1button:hover {
  background-color: #F26419;
}

.response2button:hover {
  background-color: #F26419;
}

.response3button:hover {
  background-color: #F26419;
}

.backhome:hover {
  background-color: #F26419;
}

.backhome2:hover {
  background-color: #F26419;
}

.backhome3:hover {
  background-color: #F26419;
}

.homepage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 160px;
  margin-right: 100px;
}


.rightside {
  width: 40%;
  border-radius: 50px;
  margin-top: 100px;
}

.leftside {
  width: 60%;
}

.title {
  font-size: 120px;
  color: #f7c25e;
  text-shadow: 10px 5px 0px #F26419;
  margin: 0px;
  transition: 0.5s;
}

.aboutmetext, .firsttitle {
  font-size: 70px;
  color: #f7c25e;
  text-shadow: 9px 4px 0px #F26419;
}

.firsttitle {
  padding-left: 20px;
}

.littleaboutmetext {
  color: #F6AE2D;
  font-size: 30px;
  font-family: "Sarabun";
}

h2 {
  font-size: 50px;
}

h1,
h2,
h3,
p {
  font-family: "Rubik Mono One";
}